body {
  text-align: center;
}
.header-img-desktop {
  width: 100vw;
  filter: brightness(50%);
}

.header-img-mobile {
  width: 100vw;
  filter: brightness(50%);
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}

.row {
  justify-content: center;
}

#header-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.header-content {
  position: absolute;
  color: #fff;
  font-size: 12vw;
}

.btn {
  border-radius: 20px;
  border: solid 3px;
  width: 70%;
  font-weight: 700;
}

.card {
  width: 300px;
  padding: 1%;
  margin: 2%;
}

.card-img {
  border-radius: 5px;
  margin-bottom: 5%;
}

@media only screen and (min-width: 576px) {
  .header-img-mobile {
    display: none;
  }
  .header-img-desktop {
    display: block;
  }

  #header-title {
    font-size: 4.5vw;
  }

  .header-content {
    padding-top: 14%;
  }

  #header-subtitle {
    font-size: 2vw;
  }
}

@media only screen and (max-width: 575px) {
  .header-img-desktop {
    display: none;
  }
  .header-img-mobile {
    display: block;
  }

  #header-title {
    font-size: 15vw;
  }

  .header-content {
    padding-top: 20%;
  }
  #header-subtitle {
    font-size: 7vw;
  }
}
